<p [ngClass]="'title'" printTitle color="green" sep="~" font="20">Lista studentów</p>
<ol>
  <li *ngFor="let student of students; index as i;odd as isOdd; even as isEven">
      <print-student prefix="{{student.Name.endsWith('a')?'Pani':'Pan'}}" [studentForPrint]="student" [isOdd]="isOdd"></print-student>
      <edit-student [which]="i" [studentData]="student" (doEditInParent)="doEditStudentData($event)"></edit-student>
      <span class="delete" *ngIf="deleteButtonWasClicked"><delete-student (operationEnd)="deleteStudentOperationEnd($event)" [which]="i"></delete-student></span>
  </li>
  <p *ngIf="addButtonWasClicked"><add-student (operationEnd)="addStudentoperationEnd($event)"></add-student></p>
</ol>

<p align="right">
<button [ngClass]="'button'" (click)="addButtonClicked()">Add new student</button>
<button [ngClass]="'button'" (click)="deleteButtonClicked()">Delete student</button>
</p>
